.title {
    font-size: 2em;
    text-align: center;
}

.lyrics {
    font-size: 1.75em;
    text-align: right;
    font-weight: bold;
}

.songTitle {
    font-size: 2em;
    text-align: right;
}

.size {
	width: 175px;
	height: 48px;
}

.chords {
    font-size: 1.3em;
    text-align: right;
    font-weight: bold;
	color: blue;
}

.mainbtn {
	width: 100%;
	height: 64px;
	font-size: 1.4em;
}
